<!DOCTYPE html>
<html ng-app="gemStore">
<head>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="design.css"/>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="support.js"></script>


    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-controller="storeControl as store">
    <header>
        <h1 class="text-center">Flatlander Crafted Gems</h1>
        <h2 class="text-center">– an Angular store –</h2>
    </header>
        <div class="list-group">
            <div class="list-group-item" ng-repeat="product in store.product| orderBy:'-price'">
                <h3>{{product.name}} <em class="pull-right">{{product.price | currency}}</em></h3>

                <img class='picture'ng-src="{{product.image[0].full}}">
                <button ng-show="product.canPurchase">add to card</button>



                <!-- create selection button ti show information-->
                <section ng-controller="PaneController as pane">
                    <ul class=" information">
                        <li ng-class="{active:pane.isTab(1)}">
                            <a href ng-click="pane.selectTab(1)">Description</a>
                        </li>
                        <li ng-class="{active:pane.isTab(2)}">
                            <a href ng-click="pane.selectTab(2)">Specification</a>
                        </li>
                        <li ng-class="{active:pane.isTab(3)}">
                            <a href ng-click="pane.selectTab(3)">Review</a>
                        </li>
                    </ul>
                    <!-- use ng-include example instead of applying the own custome element directive-->
                    <div class="panel" ng-show="pane.tab==1" ng-include="'product-description.html'" ></div>

                    <!-- create our own custome directive with Attribute(example) and this is different than element directive-->
                    <div product-specs="" class="panel" ng-show="pane.tab==2"></div >

                    <!-- Review tab content-->
                    <!-- create own custome directive with Element(example)-->
                    <product-review class="panel" ng-show="pane.tab==3"> </product-review>
                </section>

            </div>
        </div>

</body>
</html>